@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  outline: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    @apply bg-gray-200 text-center rounded-lg py-6 px-8 font-medium text-sm transition-colors hover:bg-gray-300 focus:border-gray-400 focus:border focus:shadow-sm focus:shadow-[#1018280D] disabled:bg-gray-25 disabled:border-gray-100;
  }
  form label {
    @apply text-gray-700 font-medium;
  }
  form label > :first-child,
  form button {
    @apply [box-shadow:0px_1px_2px_rgba(16,_24,_40,_0.05)] valid:focus:[box-shadow:0px_1px_2px_rgba(16,_24,_40,_0.05),_0px_0px_0px_4px_#D1E9FF];
  }
  form label > :first-child:not(input[type="checkbox"]) {
    @apply block font-normal mt-[6px] rounded-lg border border-gray-300 py-[10px] px-[14px] w-full valid:border-[#84CAFF] invalid:border-[#F89687] focus:invalid:[box-shadow:0px_1px_2px_rgba(16,_24,_40,_0.05),_0px_0px_0px_4px_#FFD3CC];
  }
}
